<header>
   <a href="http://localhost:8900"><img id="logo" src="images/samurai.png"></a>
    <h1 id="motto">Samurai</h1>
    <nav id="top-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="chat">Chat</a></li>
            <li><a href="ajax">Ajax</a></li>
            <li><a href="crud">Crud</a></li>
            <li><a href="drag">Drag</a></li>
            <!-- the '.hbs' was the reason I couldn't see any of my pages -->
        </ul>
    </nav>
</header>