<main>
    <div id="ajax-container">
        <h1>{{ title }}</h1>
        <h5>Asynchronous Operations AJAX from Unit 6 - 7</h5>
        <nav id="ajax-nav">
            <ul>
                <li><button id="btn-get">GET</button></li>
                <li><button id="btn-post">POST</button></li>
                <li><button id="btn-put">PUT</button></li>
                <li><button id="btn-delete">DELETE</button></li>
            </ul>
            <div id="ajax-type">
                <input type="radio" name="ajax-type" id="ajax" value="ajax">AJAX XMLHttpRequest</input>
                <input type="radio" name="ajax-type" id="jquery" value="jquery">JQuery $.ajax</input>
            </div>
        </nav>
        <div id="ajax-form"></div>
        <div id="result">
        </div>
    </div>
</main>