<main>
    <h1>{{ title }}</h1>
    <p>This is the drag and drop assignment from unit 4.</p>
    <p>Here is an article on Drag and Drop API:<br>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API</a></p>
    <br>
    <hr>
    <br>
    <div id="message">
        Refresh to scramble.
    </div>
    <div id="gameBoard">

    </div>
</main>