<main>
    <h1 id="title"></h1>
    <section>
        <h1>What's Samurai?</h1>
        <article>
            <p>Dive into the captivating realm of samurai, where ancient warriors wielded swords as an extension of their souls. Experience a world of honor, loyalty, and unmatched bravery as you journey through their incredible stories of discipline and valor. Uncover the legacy of these legendary figures who carved their names into history with steel and spirit.</p>
            Source: <a
                href="https://en.wikipedia.org/wiki/Samurai">https://en.wikipedia.org/wiki/Samurai</a>
        </article>
    </section>
    <section>
        <h1>MultiMedia Content</h1>
        <button id="show">Show</button><button id="hide">Hide</button>
        <br>
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/BTTnTunZh3E?si=_zNqGxq8B5YKr9IY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <audio id="audio" src="audio/podcast.mp3" controls></audio>
    </section>
</main>