<main>
    <h1 id="title">{{ title }}</h1>
    <h2>The following are some project I've developed.</h2>
        <ol>
            <h4>Personal Site</h4>
                <li>Freecodecamp Project: Personal Portfolio Website of the Responsive Web Design</li>
                <br>
                <p class="codepen" data-height="306.6666564941406" data-default-tab="result" data-slug-hash="yLVXMRd" data-editable="true" data-user="mastercoder92" style="height: 306.6666564941406px; width:25px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/mastercoder92/pen/yLVXMRd">
  Project #5 - Personal Portfolio Website</a> by Alex (<a href="https://codepen.io/mastercoder92">@mastercoder92</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            <br>
            <hr>
            <h4>Alex Stampfl Massage and Bodywork, LLC.</h4>
                <li>My massage website built with Weebly, injected with my own html and css.</li>
                <a href="https://www.alexjstampfl.com" target="_blank">www.alexjstampfl.com</a>
            <br>
        </ol>
</main>